#additemBox {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    height: 25em;
    width: 35em;
    padding: 2em;
    border-radius: .5em;
    background-color: gainsboro;
}

div.formRow {
    clear: both;
    width: 100%;
    padding: .45em;
    height: 2.2em;
}

div.formLabel {
    float: left;
    width: 25%;
    text-align: right;
    height: 2.2em;
    line-height: 1.9em;
}

div.formField {
    float: right;
    width: 70%;
}

div.textLabel {
    vertical-align: middle;
}

#textArea {
    height: 9.5em;
}
textarea {
    width: 75%;
    height: 10em;
}

input {
    width: 75%;
    height: 2.3em;
    vertical-align: middle;
}

input.submitButton {
    width: 15em;
}