body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#top-bar {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 40px;
    width: 800px;
    background-color: gainsboro;
    border-radius: 10px;
}

#messagebox {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 30px;
    width: 500px;
    background-color: gainsboro;
    border-radius: 10px;
}