.itemlist {
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    padding: 1.5em;
    width: 24em;
    height: 3em;
    background-color: gainsboro;
    border-radius: 10px;
}

.item {
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: 30em;
    height: 15em;
    background-color: gainsboro;
    border-radius: 10px;
}

.item_name {

}

.item_quantity {

}

.item_description {

}