#loginbox {
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 350px;
	border-radius: 10px;
	background-color: gainsboro;
	padding: 35px;
}

div.formRow {
    clear: both;
    float: center;
    width: 100%;
    padding: .45em;
    height: 2.2em;
}

div.label {
    float: left;
    width: 30%;
    text-align: right;
    height: 2.2em;
    line-height: 1.9em;
}

div.field {
    float: right;
    width: 60%;
}

input {
    width: 75%;
    height: 2.3em;
    vertical-align: middle;
}

input.loginButton {
    width: 15em;
    float: center;
}