#registerBox {
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    height: 21em;
    width: 25em;
    padding: 2em;
    border-radius: .5em;
    background-color: gainsboro;
}

div.formRow {
    clear: both;
    float: center;
    width: 100%;
    padding: .45em;
    height: 2.2em;
}

div.formLabel {
    float: left;
    width: 35%;
    text-align: right;
    height: 2.2em;
    line-height: 1.9em;
}

div.formField {
    float: right;
    width: 60%;
}

input {
    width: 75%;
    height: 2.3em;
    vertical-align: middle;
}

input.registerButton {
    width: 15em;
    float: center;
}