% include('base.tpl', title='Home', username=username, message=message)
<center><h1>Welcome to the store!</h1>
<p>We're currently still under construction, so bear with us as we get everything off the ground, mmmmk?</p>
<p>Until we get everything set up for online orders, stop by row A7/A8 for merchandise.</p></center>